*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../common/img/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a{
    text-decoration: none;
}

header{
    height: fit-content;
    border-bottom: solid 5px;
    border-color: #191919;
    width: 100%;
    background-color: #212529;
}

.objheader{
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    font-size: larger;
}

.objizquierda{
    display: flex;
    position: absolute;
    padding: 3px;
}

.objizquierda a{
    padding-left: 2em;
    color: #636363;
}

.objderecha{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-right: 2em;
}

.objizquierda button{
    display: none;
    background-color: #212529;
    border: none;
    margin-left: 1em;
    width: fit-content;
    height: fit-content;
    color: white;
    cursor: pointer;
}

.objizquierda button:hover{
    background-color: #636363;
}

.sidetxt{
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #212529;
}

#opcion{
    color: #636363;
    font-size: larger;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #212529;
    text-align: center;
    cursor: pointer;
}

#cerrar{
    background-color: #636363;
    border: none;
    font-size: larger;
    cursor: pointer;
}

#opcion:hover{
    background-color: #919191;
}

#cerrar:hover{
    background-color: #919191;
}

.login{
    font-size: large;
    margin-right: 1.5em;
}

.login button{
    background: #636363;
    font-size: 15px;
    border: solid 1px;
    border-color: #636363;
    cursor: pointer;
    color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 3px;
}

.login a{
    color: #636363;
}

.wrapper {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: grid;
    place-content: center;
    height: fit-content;
    font-family: "Oswald", sans-serif;
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-left: 1%;
    margin-right: 1%;
}
  
.wrapper > div {
    grid-area: 1/1/-1/-1;
}

.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, white 65%);
    background: linear-gradient(177deg, black 53%, white 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
}

.cajausuario{
    color: white;
    background-color: #212529;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: solid 10px;
    border-color: #191919;
    margin-bottom: 3em;
}

.cabeza{
    display: flex;
}

.imagencabeza{
    height: 250px;
    width: auto;
    min-width: 250px;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.cabeza img{
    height: 100%;
    width: 100%;
}

.pcabeza{
    display: flex;
    width: 100%;
}

.pflex{
    height: fit-content;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 180%;
    margin-top: auto;
    margin-bottom: auto;
}

.pflex p{
    margin-bottom: 0.2em;
}

h2{
    text-decoration: underline;
    margin-bottom: 0.2em;
}

.descripcion{
    font-size: 180%;
}

h3{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2%;
    text-decoration: underline;
}

textarea{
    display: flex;
    width: 94%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    min-height: 5em;
    height: fit-content;
    border: solid 5px;
    border-color: #191919;
    background-color: #383f46;
    color: white;
    font-size: 100%;
    resize: none;
}

.alibot{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;
}

.alibot input{
    margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: #383f46;
  border: solid 3px;
  border-color: #191919;
  color: white;
  cursor: pointer;
}

.alibot p{
    margin-top: 0.5em;
    text-align: center;
    font-size: 80%;
}

.descripcion button{
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #383f46;
  border: solid 3px;
  border-color: #191919;
  color: white;
  cursor: pointer;
}

.descripcion button:hover{
    background-color: #636363;
}

#cambioimg{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #383f46;
    border: solid 3px;
    border-color: #191919;
    color: white;
    cursor: pointer;
}

#uid{
    font-size: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #919191;
    margin-bottom: 0.5em;
}

.selectores{
    display: flex;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

.selectores form{
    margin-left: auto;
    margin-right: auto;
}

select{
    border: solid 5px;
    width: 10em;
    height: 4em;
    border-color: #191919;
    background-color: #212529;
    color: white;
    padding: 1%;
    font-size: 100%;
}

#sbusqueda{
    border: solid 5px;
    width: 3em;
    height: 3em;
    border-color: #191919;
    background-color: #212529;
    color: white;
    padding: 1%;
    font-size: 100%;
    margin-left: 0.5em;
    cursor: pointer;
}

#creacion{
    cursor: pointer;
    margin-left: auto;
    margin-right: 5%;
    height: 3em;
    width: 3em;
    border: solid 5px;
    border-color: #191919;
}

#creacion button{
    height: 100%;
    width: 100%;
    font-size: 2em;
    font-weight: 100;
    background-color: #212529;
    border: none;
    color: white;
    cursor: pointer;
}

#creacion button:hover{
    background-color: #535353;
}

.etexto{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.edidel{
    display: flex;
    margin-bottom: 1em;
}

.edidel form{
    display: flex;
}

#fedit, #dedit{
    width: 40px;
    height: 40px;
}

#dedit{
    margin-left: auto;
    margin-right: auto;
}

#borrar{
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: solid 5px;
    border-color: #191919;
    font-size: 1em;
    font-weight: 100;
    color: white;
    background-color: #212529;
    margin-top: auto;
}

#editar{
    width: 7em;
    height: 2em;
    cursor: pointer;
    border: solid 5px;
    border-color: #191919;
    font-size: 1em;
    font-weight: 100;
    color: white;
    background-color: #212529;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
}

#borrar button:hover, #editar button:hover{
    background-color: #535353;
}

.recomBox{
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #212529;
    color: white;
    border: solid 10px;
    border-color: #191919;
    margin-bottom: 2em;
    display: flex;
}

.items{
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.info{
    font-size: 120%;
    min-height: 10em;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-bottom: 3em;
    word-wrap: break-word
}

.portada{
    min-width: 500px;
    width: 500px;
    height: 500px;
    display: flex;
    border-right: solid 10px #191919;
}

.portada img{
    min-width: 500px;
    width: 100%;
    height: 100%;
}

.cabezaRecom{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#desc1{
    margin-right: 3em;
}

#desc2{
    margin-left: 3em;
}

.estrellas{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.estrellas img{
    height: 32px;
    width: 145px;
}

.texto{
    margin-top: 2em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 100%;
    word-wrap: break-word
}

.likedislike{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: auto;
}

.alineador{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
}

.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    cursor: pointer;
    outline: 0;
    color: #636363;
    background-color: #212529;
    border: solid 3px;
    border-color: #191919;
}

.btn:hover{
    color: white;
}
  
.btn:focus {
    outline: none;
}
  
.green{
    color: green;
}
  
.red{
    color: red;
}

.like{
    margin-right: 1em;
}

.dislike{
    margin-left: 1em;
}

#rid , #idg{
    display: none;
}

footer{
    background-color: #212529;
    bottom: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
    border-top: solid 5px;
    border-color: #191919;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 2em;
}

footer a{
    color: darkgrey;
}

footer a:hover{
    background-color: #919191;
}

@media only screen and (max-width: 1150px) {

    .portada{
        min-width: 300px;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        border-bottom: solid 10px;
        border-right: solid 10px;
        border-left: solid 10px;
        border-color: #191919;
        border-top: none;
    }

    .portada img{
        min-width: 300px;
    }

    .items{
        flex-direction: column;
    }

    .objderecha{
        margin-right: 5%;
    }

    .cabezaRecom{
        margin-top: 0;
    }

    .info{
        margin-top: 2em;
    }

    .etexto{
        width: 90%;
    }

    .texto{
        width: 100%;
    }

    .texto textarea{
        width: 100%;
    }

    .alineador{
        width: 70%;
    }
}

@media only screen and (max-width: 1020px) {

    .objizquierda a{
        display: none;
    }

    .objderecha{
        margin-right: 0;
    }

    .login{
        margin-right: 1em;
    }

    .objizquierda button{
        display: block;
    }

}

@media only screen and (max-width: 900px){

    .wrapper{
        font-size: 4em;
    }
}

@media only screen and (max-width: 750px){

    .objizquierda{
        flex-direction: column;
    }

    .cabezaRecom{
        display: block;
        text-align: center;
        margin-top: 0.5em;
    }

    #desc1, #desc2{
        margin: 0;
    }

    .portada{
        min-width: 200px;
        width: 200px;
        height: 200px;
    }

    .portada img{
        min-width: 200px;
    }

    h1{
        font-size: 300%;
    }

    h2{
        margin-top: 0.3em;
    }

    h3{
        text-align: center;
    }

    .pflex{
        font-size: 140%;
    }

    .cabeza{
        flex-direction: column;
    }

    .imagencabeza{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .selectores{
        flex-direction: column;
        text-align: center;
    }

    #creacion{
        margin-top: 0.5em;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper{
        font-size: 3em;
    }
}

@media only screen and (max-width: 540px){

    h1{
        font-size: 200%;
    }

    .imagencabeza{
        height: 200px;
        width: auto;
        min-width: 200px;
    }

    .wrapper{
        font-size: 2em;
    }
}

@media only screen and (min-width: 1280px) {

    .pflex{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
    }

    .sec1, .sec2{
        width: 100%;
    }
}

@media only screen and (min-width: 1520px){

    .info{
        font-size: 120%;
    }
    
}

@media only screen and (min-width: 1600px) {

    .pflex{
        font-size: 230%;
    }

    h3{
        font-size: 160%;
    }

    .descripcion button{
        width: 5em;
        height: 1.5em;
        font-size: 100%;
    }

}